h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  label {
    font-weight: normal;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  #resultado {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
    color: #333;
  }
  
  button:hover {
    background-color: #333;
  }
  